@using MyBlogWebsite.Models.ViewModels;
@model AuthorVM


@if (TempData["WarningMessage"] != null)
{
        <div class="alert alert-warning">
        @TempData["WarningMessage"]
        </div>
}


<form asp-action="AuthorActivation" asp-controller="Author" method="post">
    <div class="form-group">
        <label asp-for="AuthorName"><strong>Yazar Adı:</strong></label>
        <input asp-for="AuthorName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="AuthorConfirmed"><i>Yazar olmak istiyorum</i></label>
        <input asp-for="AuthorConfirmed" type="checkbox" />
    </div>
    <button type="submit" class="btn btn-outline-secondary">Kaydet</button>
</form>