@using MyBlogWebsite.Models.ViewModels;
@model AuthorEditVM

<br />

<h3>Profilini düzenle</h3>

<form method="post">
    <div class="form-group">
        <label asp-for="AuthorName">Yeni Yazar Adınız</label>
        <input asp-for="AuthorName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="AboutMe"></label>
        <textarea asp-for="AboutMe" class="form-control">Hakkınızda:</textarea>
    </div>


 @*   <div class="form-group">
        <label>Favori Kategoriler</label>
        <select asp-for="FavouriteCategoriesId" multiple class="form-control">
            @foreach (var category in Model.FavouriteCategory)
            {
                    <option value="@category.Id">@category.CategoryName</option>
            }
        </select>
    </div>*@


    <button type="submit" class="btn btn-outline-secondary">Kaydet</button>
</form>