@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Verileriniz";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>Hesabınızın yönetimi bize gönderilen verilerinizle yapılmaktadır. Bu sayfa ile verilerinizi yönetin.</p>
        <p>
            <strong>Verilerinizi indirebilir veya hesabınızı kalıcı olarak silebilirsiniz.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn btn-outline-primary" type="submit">Verilerini Indir</button>
        </form>
        <br />
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-outline-danger">Hesabımı Sil</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
