@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Şifre değiştirme talebi";
}

<h1>@ViewData["Title"]</h1>
<p>
    Lütfen şifrenizi değiştirmek için e-posta adresinizi kontrol edip ilgili maile bakınız.
</p>
