@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Şifre değişikliği güncellemesi";
}

<h1>@ViewData["Title"]</h1>
<p>
    Şifreniz başarıyla değiştirilmiştir. Lütfen <a asp-page="./Login">buradan giriş yapınız.</a>.
</p>
