@{
    ViewData["Title"] = "Hakkımızda";
}
<br />
<h2>@ViewData["Title"]</h2>
<br />
<br />

<p>Platformuzda kaydedilen her bir makaleyi görmek için sizden <strong><i>üye olmanız</i></strong> beklenmektedir.</p>
<p>Üyeliğinizi gerçekleştirdikten sonra dilediğiniz makaleyi okuyabilirsiniz.</p>
<br />
<h4>Yazar olmak için</h4>
<br />
<p>Kayıt gerçekleştirdikten sonra ilgili <strong>Yazar Ol!</strong> sekmenize gelip kendinize bir yazar profili oluşturmalısınız.</p>
<p>Artık hazırsınız.</p>
<br />
<br />


<footer>
      <h6>Detaylı bilgi ve iletişim için Linked'in profilime"<a href="https://www.linkedin.com/in/egesumer/">link</a>" üzerinden ulaşabilirsiniz.<br /></h6>
</footer>
