@{
    ViewData["Title"] = "Contact with me";
}
<h1>@ViewData["Title"]</h1>

  <h6>Linked'in profilime ilgili "<a href="https://www.linkedin.com/in/egesumer/">link</a>" üzerinden ulaşabilirsiniz.<br />Detaylar için bağlantı isteği gönderebilirsiniz.</h6>
