@{
    ViewData["Title"] = "İletişime geç";
}
<h2>@ViewData["Title"]</h2>
<br />

  <h6>Linked'in profilime ilgili "<a href="https://www.linkedin.com/in/egesumer/">link</a>" üzerinden ulaşabilirsiniz.<br />Detaylar için bağlantı isteği gönderebilirsiniz.</h6>
