@using MyBlogWebsite.Models.ViewModels;
@model ArticleCreateVM
@{
	ViewData["Title"] = "Makale Oluştur";
}

<br />
<h2>Burası sizin yeni makale oluşturma sayfanız.</h2>
<hr />
<label><i>Yeni bir başlangıç yapın.</i></label>
<br />
<br />

<form asp-action="Create">
	<div class="form-group">
		<label asp-for="ArticleTitle" class="control-label">Başlık</label>
		<input type="text" class="form-control" name="ArticleTitle">
		<span asp-validation-for="ArticleTitle"></span>
	</div>

	<div class="form-group">
		<label asp-for="Content" class="control-text">İçerik</label>
		<input type="text" class="form-control" name="Content">
		<span asp-validation-for="Content"></span>
	</div>


	<div class="form-group">
		<label asp-for="@Model.SelectedCategoryId" class="control-label">Kategori Seçin</label>
		<select class="form-control" asp-for="@Model.SelectedCategoryId" asp-items="ViewBag.Category"></select>
		<span asp-validation-for="@Model.SelectedCategoryId"></span>
	</div>
	<br />

	<div class="form-group">
		<input type="submit" value="Oluştur" class="btn btn-outline-success">
	</div>
	<br />
</form>
<div>
	<a asp-action="Index">Makalelerine dön</a>
</div>