@using MyBlogWebsite.Models.ViewModels;
@model ArticleCreateVM
@{
	ViewData["Title"] = "Makale Oluştur";
}

<br />
<h2>Burası sizin yeni makale oluşturma sayfanız.</h2>
<hr />
<label><i>Yeni bir başlangıç yapın.</i></label>
<br />
<br />

<form asp-action="Create">
	<div class="form-group">
		<label asp-for="ArticleTitle" class="control-label">Başlık</label>
		<input type="text" class="form-control" name="ArticleTitle">
		<span asp-validation-for="ArticleTitle"></span>
	</div>

	<div class="form-group">
		<label asp-for="Content" class="control-text">İçerik</label>
		<input type="text" class="form-control" name="Content">
		<span asp-validation-for="Content"></span>
	</div>


	<div class="form-group">


@*
		@Html.DropDownListFor(x => x.SelectedCategoryId, new SelectList(Model.Categories, "Id", "CategoryName"))
*@

		<div class="form-group">
			<label for="category">İlgili Kategori:</label>
			<select class="form-control" id="category" name="SelectedCategoryId">
				@foreach (var category in Model.Categories)
				{
					<option value="@category.Id">@category.CategoryName</option>
				}
			</select>
		</div>

	</div>
	<br />

	<div class="form-group">
		<input type="submit" value="Oluştur" class="btn btn-outline-success">
	</div>
	<br />
</form>
<div>
	<a asp-action="Index">Makalelerine dön</a>
</div>